.main_container {
    display: grid;
    grid-template-columns: 1fr 0.6fr ;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "head_1 head_2"
        "material  buttons"
        "recycling  build"
        "production  build";
    grid-gap: 2px;
    background-color: black;
    border-collapse: collapse;

}

.main_container > * {
    background-color: white;
  }


.head_1 {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name_head1 head_menu";
    grid-area: head_1;
    height: auto;
}

.name_head1 {
    grid-area: name_head1;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    height: 100%;
    font-weight: bold;
}

.head_menu {
    grid-area: head_menu;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

.head_2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name_head2";
    grid-area: head_2;
    height: auto;

}

.name_head2{
    grid-area: name_head2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    place-self: center;
    font-weight: bold;
}
.material {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name_mat head_mat"
        "name_mat ."
        "name_mat ."
        "name_mat ."
        "name_mat ."
        "name_mat . ";
    grid-area: material;
    height: auto;
    
}

.head_mat {
    grid-area: head_mat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.name_mat {
    grid-area: name_mat;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    height: 100%;
    font-weight: bold;
}

.recycling {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name_recyc head_rec"
        "name_recyc ."
        "name_recyc ."
        "name_recyc ."
        "name_recyc ."
        "name_recyc ."
        "name_recyc .";
    grid-area: recycling;
    height: auto;
    
}

.head_rec {
    grid-area: head_rec;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.name_recyc {
    grid-area: name_recyc;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-right: 1px solid black;
    height: 100%;
    font-weight: bold;
}


.production {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "name_prod head_prod"
        "name_prod ."
        "name_prod ."
        "name_prod ."
        "name_prod ."
        "name_prod .";
    grid-area: production;
    border-bottom: 2px solid black;
    height: auto;
}

.name_prod {
    grid-area: name_prod;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    height: 100%;
    font-weight: bold;
}

.head_prod {
    grid-area: head_prod;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "money"
        "population"
        "clicker"
        "test";
    grid-area: buttons;
    height: auto;
}

.money {
    grid-area: money;
}

.population{
    grid-area: population;
}

.clicker {
    grid-area: clicker;
}


.test {
    grid-area: test;
}

.build {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "build_head"
        "head_build"
        ".";
    grid-area: build;
    height: auto;
    border-bottom: 2px solid black;
}

.build_head {
    grid-area: build_head;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 100%;
    font-weight: bold;
}

.head_build {
    grid-area: head_build;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}


.material_line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    
    
}

.material_line > * {
    flex: 1;
    text-align: center;
}

.material_line .w1 {
    width: 100px;
}

.ml-p {
    margin-top: 10px;
}

.resourse_line{
    place-self: center;
}

button {
    min-width: 50;
}

.base_btn {
    width: 100px;
}

.build_div {
    display: flex;
}

.build_div button {
    flex-grow: 1;
}

.test {
    justify-content: space-between;
}


html,
body,
.container {
    height: 100%;
    margin: 0;
}

.gridItemBorder {
    border-bottom: 1px solid black;
    place-self: center;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab select,
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab select {
    float: right;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Меню */

.tooltip_templates { display: none; }



.improvements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "taxes . "
        ". ."
        ". .";
    grid-gap: 1px;
    background-color: black;
    border-collapse: collapse;
}

.improvements>* {
    background-color: white;
}

.taxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "taxes_head"
        ". "
        ". ";
    grid-area: taxes;
}

.taxes_head {
    grid-area: taxes_head;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    height: 100%;
    font-weight: bold;
}

.upgrade_line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    
    
}

.upgrade_line > * {
    flex: 1;
    text-align: center;
}